 body{
 	background-color: #eaeed5;
 }
 .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(59, 83, 7, 0.2); }

.table-striped > tbody > tr:hover {
  background-color: rgba(59, 83, 7, 0.5); }
 .section-main-right {
    width: 850px;
    padding-left: 20px;
    margin-top: 10px; }
    .section-main-right .section-right-main {
      width: 100%; }
      .section-main-right .section-right-main p {
        width: 100%;
        border-bottom: 1px solid #ccc; }
        .section-main-right .section-right-main p span {
          display: block;
          line-height: 30px;
          text-align: left;
          margin-bottom: -1px;
          font-size: 18px;
          font-weight: 700;
          color: #82c234;
          border-left: 4px solid #82c234;
          padding-left: 6px;
          margin-bottom: 6px; }
      .section-main-right .section-right-main .section-right-text-nav {
        width: 100%;
        margin: -10px; }
        .section-main-right .section-right-main .section-right-text-nav > li {
          width: 22%;
          margin-bottom: 30px;
          margin-top: 33px;
          margin-left: 23px;
          background-color: #fff;
          padding: 10px 0;
          border-radius: 3px;
          position: relative;
          -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
          -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; }
          .section-main-right .section-right-main .section-right-text-nav > li a {
            color: #333;
            line-height: 35px;
            font-size: 14px;
            display: inline-block;
            width: 100%;
            text-align: center; }
          .section-main-right .section-right-main .section-right-text-nav > li p {
            border: none; }
          .section-main-right .section-right-main .section-right-text-nav > li:hover img {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
          .section-main-right .section-right-main .section-right-text-nav > li:hover a {
            color: #82c234; }
          .section-main-right .section-right-main .section-right-text-nav > li img {
            -webkit-transition: -webkit-transform .3s;
            transition: -webkit-transform .3s;
            transition: transform .3s; }
          .section-main-right .section-right-main .section-right-text-nav > li:before, .section-main-right .section-right-main .section-right-text-nav > li:after {
            content: " ";
            width: 50%;
            height: 100px;
            position: absolute;
            bottom: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.27);
            z-index: -1; }
          .section-main-right .section-right-main .section-right-text-nav > li:before {
            left: 15px;
            -webkit-transform: skew(-15deg) rotate(-6deg);
            -moz-transform: skew(-15deg) rotate(-6deg);
            transform: skew(-15deg) rotate(-6deg); }
          .section-main-right .section-right-main .section-right-text-nav > li:after {
            right: 15px;
            -webkit-transform: skew(15deg) rotate(6deg);
            -moz-transform: skew(15deg) rotate(6deg);
            transform: skew(15deg) rotate(6deg); }
      .section-main-right .section-right-main .section-right-text-nav2 {
        width: 100%; }
        .section-main-right .section-right-main .section-right-text-nav2 li {
          padding-left: 5px;
          line-height: 25px;
          font: 14px/24px 楷体;
          border-bottom: 1px dashed #999999; }
          .section-main-right .section-right-main .section-right-text-nav2 li a {
            color: #464646;
            display: block;
            width: 500px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            float: left; }
            .section-main-right .section-right-main .section-right-text-nav2 li a:before {
              content: "";
              display: inline-block;
              vertical-align: middle;
              width: 6px;
              height: 6px;
              background: url(../images/li_ico.jpg) no-repeat;
              margin-right: 6px; }
            .section-main-right .section-right-main .section-right-text-nav2 li a.new:before {
              content: "";
              display: inline-block;
              vertical-align: middle;
              width: 28px;
              height: 28px;
              background: url(../images/ne.png) no-repeat;
              margin-right: 6px; }
          .section-main-right .section-right-main .section-right-text-nav2 li span {
            display: block;
            color: #8d7009;
            font-size: 12px; }
            .section-main-right .section-right-main .section-right-text-nav2 li span.col {
              color: red; }
          .section-main-right .section-right-main .section-right-text-nav2 li:hover a {
            text-decoration: underline;
            color: #ff6b00; }
      .section-main-right .section-right-main #nav1 {
        width: 100%;
        margin-top: 10px; }
        .section-main-right .section-right-main #nav1 li {
          width: 50%;
          text-align: center;
          background-color: #fff; }
          .section-main-right .section-right-main #nav1 li img {
            border-radius: 50%; }
            .section-main-right .section-right-main #nav1 li img:hover {
              animation: dod 0.8s linear both; }
          .section-main-right .section-right-main #nav1 li span {
            width: 100%;
            display: block;
            line-height: 30px; }
@keyframes dod {
  0% {
    transform: translateY(5px); }
  20% {
    transform: translateY(-5px); }
  40% {
    transform: translateY(5px); }
  60% {
    transform: translateY(-5px); }
  80% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }
      .section-main-right .section-right-main .section-right-main-sp {
        width: 100%;
        margin-top: 10px; }
        .section-main-right .section-right-main .section-right-main-sp span {
          width: 22px;
          line-height: 160px;
          display: block;
          cursor: pointer;
          background-color: #fff; }
        .section-main-right .section-right-main .section-right-main-sp .section-right-main-sp-nav {
          width: 786px;
          height: 160px;
          overflow: hidden;
          position: relative; }
          .section-main-right .section-right-main .section-right-main-sp .section-right-main-sp-nav .section-right-main-sp-navcenter {
            width: auto;
            position: absolute; }
            .section-main-right .section-right-main .section-right-main-sp .section-right-main-sp-nav .section-right-main-sp-navcenter li {
              width: 191px;
              height: 160px;
              margin-left: 4.5px; }
              .section-main-right .section-right-main .section-right-main-sp .section-right-main-sp-nav .section-right-main-sp-navcenter li img {
                width: 100%;
                height: 100%; }
      .section-main-right .section-right-main .form-geren {
        width: 100%;
        padding-left: 50px;
        margin-top: 20px; }
        .section-main-right .section-right-main .form-geren .form-geren-bt {
          width: 100%;
          border-bottom: 1px dashed #999999;
          line-height: 35px; }
          .section-main-right .section-right-main .form-geren .form-geren-bt label {
            display: inline-block;
            *display: inline;
            zoom: 1;
            width: 85px;
            text-align: center;
            color: #999999;
            font-size: 14px;
            vertical-align: middle; }
          .section-main-right .section-right-main .form-geren .form-geren-bt input {
            padding-left: 10px;
            border: 1px solid #cccccc;
            line-height: 25px;
            border-radius: 4px; }
          .section-main-right .section-right-main .form-geren .form-geren-bt select {
            padding-bottom: 5px; }
          .section-main-right .section-right-main .form-geren .form-geren-bt textarea {
            margin: 3px 0;
            vertical-align: middle; }
        .section-main-right .section-right-main .form-geren .sub {
          width: 84px;
          background-color: #82c234;
          color: #fff;
          line-height: 28px;
          margin-top: 10px;
          margin-left: 100px;
          border-radius: 4px; }
          .section-main-right .section-right-main .form-geren .sub:hover {
            box-shadow: inset 0 0 4px #999; }
      .section-main-right .section-right-main .section-right-main-table {
        margin-top: 20px; }
      .section-main-right .section-right-main .fenye {
        text-align: right;
        padding-right: 6px; }
      .section-main-right .section-right-main .section-right-main-text {
        width: 100%;
        font-size: 12px;
        text-indent: 50px;
        color: #ff6b00;
        line-height: 25px; }
      .section-main-right .section-right-main .section-right-main-news {
        width: 100%;
        text-align: right;
        padding-right: 20px; }
      .section-main-right .section-right-main .section-right-main-bt {
        width: 100%;
        margin-top: 20px;
        color: #464646;
        font-size: 17px;
        text-align: center; }
        .section-main-right .section-right-main .section-right-main-bt span {
          color: red;
          font-size: 14px; }
      .section-main-right .section-right-main .section-right-main-nr {
        width: 100%;
        padding: 20px;
        text-indent: 30px; }
   .foot-down {
  width: 100%;
  background-color: #222;
  margin-top: 10px; }
  .foot-down p {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    line-height: 35px; }

#back-top {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 100px;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background-color: rgba(46, 139, 87, 0.8);
  cursor: pointer; }
