			body {
				width: 100%;
				height: 100%;
 				background: url(../images/1.jpg) center center no-repeat fixed;
    			background-size: cover;
			}
			
			input {
				display: block;
				background-color: rgba(0,0,0,0.3);
				padding-left: 10px;
				color: #fff;
			}
		input.text {
		    width: 70%;
		    font-size: 18px;
		    outline: none;
		    background: url(../images/r.png) no-repeat 10px center;
		    font-weight: 100;
		    background-color: rgba(0,0,0,0.3);
		    padding-left: 50px;
		    color: #fff;
		    }
		input.pw {
		    width: 70%;
		    font-size: 18px;
		    outline: none;
		    background: url(../images/p.png) no-repeat 10px center;
		    font-weight: 100;
		    background-color: rgba(0,0,0,0.3);
		    padding-left: 50px;
		    color: #fff;
		    } 
		input.pt {
		    width: 70%;
		    font-size: 18px;
		    outline: none;
		    font-weight: 100;
		    background-color: rgba(0,0,0,0.3);
		    color: #fff;
		    } 		      
			.centre-main {
				width: 100%;
				padding-top: 10%;
				animation: wd 0.6s ease;
			}
			
			.centre-main .centre-main-form {
				width: 400px;
				margin: 0 auto;
				background-color: #fff;
				font-size: 14px;
				padding-bottom: 50px;
				background: rgba(0, 0, 0, 0.2);
				border-radius: 6px;
			}
			
			.centre-main .centre-main-form .centre-main-form-top {
				font-size: 30px;
				text-align: center;
				line-height: 80px;
				color: #fff;
				margin: 0;
			}
			
			.centre-main .centre-main-form .centre-main-form-width {
				width: 340px;
				margin: 0 auto;
				position: relative;
			}
			.centre-main .centre-main-form .centre-main-form-width .fp{
				font-size: 12px;
			}
			.centre-main .centre-main-form .centre-main-form-width input {
				display: block;
				width: 100%;
				height: 40px;
				display: block;
				width: 100%;
				margin: 5px 0;
				border-radius: 2px;
			}
			
			.centre-main .centre-main-form .centre-main-form-width input.rad {
				display: inline-block;
				width: 20px;
				height: 20px;
				vertical-align: middle;
				margin-left: 60px;
				margin-right: 10px;
			}
			
			.centre-main .centre-main-form .centre-main-form-width .lab {
				color: #999;
			}
			
			.centre-main .centre-main-form .centre-main-form-width .centre-main-form-text {
				line-height: 20px;
				font-size: 14px;
				height: 20px;
			}
			
			.centre-main .centre-main-form .centre-main-form-width #verify {
				position: absolute;
				right: 0;
				top: 0;
				background-color: #17b1f7;
				line-height: 40px;
				color: #fff;
				padding: 0 9px;
				z-index: 99;
				cursor: pointer;
			}
			
			.centre-main .centre-main-form .centre-main-form-width .dw {
				position: absolute;
				right: 0;
				top: 0;
				line-height: 40px;
				color: #fff;
				z-index: 99;
				cursor: pointer;
			}
			
			.centre-main .centre-main-form .centre-main-form-width #sub {
				background: linear-gradient(to right, rgb(35, 37, 38), rgb(65, 67, 69));
				border-color: #17b1f7;
				margin-top: 30px;
				color: #fff;
				cursor: pointer;
			}
			
			.centre-main .centre-main-form .centre-main-form-width a {
				display: inline-block;
				color: #fff;
				font-size: 20px;
			}
			
			.centre-main .centre-main-form .centre-main-form-width a:hover {
				color: #333;
			}
			
			.centre-main .centre-main-form .centre-main-form-width #me {
				display: inline-block;
				width: 20px;
				vertical-align: middle;
				margin-right: 10px;
			}
			/*弹框*/
			.mc {
				position: absolute;
				display: none;
				width: 500px;
				line-height: 50px;
				text-align: center;
				background-color: #fff;
				color: red;
				border-radius: 4px;
				top: 4%;
				left: 50%;
				margin-left: -250px;
			}
			
			#btn {
				width: 120px;
				position: absolute;
				right: 0;
				top: 0;
				background-color: #17b1f7;
				line-height: 40px;
				color: #fff;
				padding: 0 9px;
				z-index: 99;
				cursor: pointer;
				text-align: center;
				margin: 0;
			}
			
			.voice {
				width: 150px;
				position: absolute;
				top: 50px;
				right: 100px;
				font-size: 0;
				margin-left: -5%;
			}
			
			.voice span {
				display: inline-block;
				width: 45%;
				margin-left: 5%;
				line-height: 30px;
				font-size: 14px;
				color: #ddd;
				text-align: center;
				border-radius: 20%;
				cursor: pointer;
				transition: all 0.3s;
			}
			
			@-webkit-keyframes wd {
				0% {
					-webkit-transform: scale(1);
					transform: scale(1);
				}
				50% {
					-webkit-transform: scale(0.5);
					transform: scale(0.5);
				}
				100% {
					-webkit-transform: scale(1);
					transform: scale(1)
				}
			}
			@media (max-width: 768px) {
			.centre-main .centre-main-form{
				width: 100%;
			}
			.centre-main .centre-main-form .centre-main-form-top{
				font-size: 26px;
			}
			.mc{
				width: 100%;
				font-size: 12px;
				margin: 0;
				left: 0;
				top: 0;
				border-radius: 0;
			}
		}