@charset "UTF-8";
$rc:200;
html {
    font-size: calc(100vw/3.75);
}
body{
//  background: #ccc;
    font-size: 0.4rem;
    background: url(../images/手机背景.jpg)no-repeat fixed;
    background-size: 100% 100%;
}
$yc:#297de5;
.section{
    width: 100%;
    padding-bottom: 110/$rc+rem;
//  数据
    .section-data{
        width: 100%;
        &>p{
            width: 100%;
            padding-left: 76/$rc+rem;
            background: rgba(0,0,0,.2);
            margin-bottom: 10/$rc+rem;
            span,strong{
                display: inline-block;
                vertical-align: middle;
            }
            span{
                width: 290/$rc+rem;
                line-height: 50/$rc+rem;
                color: #fff;
                font-size: 25/$rc+rem;
                margin-right: 10/$rc+rem;
                text-align: right;
                padding-right: 10/$rc+rem;
                letter-spacing: 1px;
            }
            strong{
                font-size: 34/$rc+rem;
                color: $yc;
            }
        }
    }
//  表格
    .tab-main{
        tbody{
            td:nth-child(n+5){
                color: $yc;
            }
        }
    }
}
//分类层
#header{
    margin: 20/$rc+rem 0;
}
#header .swiper-slide{
    padding: 8/$rc+rem 40/$rc+rem;
    width: auto;
    font-size: 25/$rc+rem;
    color: #fff;
    margin-left: 10/$rc+rem;
}
#header .on{
        background: #f4f4f4;
        border-radius: 10/$rc+rem;
        color: #464646;
    }
