@charset "UTF-8";
$rc:200;
html {
    font-size: calc(100vw/3.75);
}
body{
    font-size: 0.4rem;
    background: url(../images/beijin.png)no-repeat fixed;
    background-size: 100% 100%;
}
$yc:#297de5;
.section{
    width: 100%;
    padding-bottom: 110/$rc+rem;
    .section-form{
        width: 100%;
        padding: 0 15/$rc+rem;
        .section-form-mian{
            width: 100%;
            border-bottom: 1px solid #999;
            label,input,textarea{
                display: inline-block;
                vertical-align: middle;
                font-size: 30/$rc+rem;
            }
            label{
                width: 140/$rc+rem;
                text-align: right;
                line-height: 42/$rc+rem;
                color: #fff;
                margin-right: 10/$rc+rem;
                color: #464646;
            }
            .lab{
                vertical-align: top;
                margin-top: 10/$rc+rem;
            }
            input{
                line-height: 42/$rc+rem;
                background: transparent;
                width: 550/$rc+rem;
                padding-left: 10/$rc+rem;
            }
            textarea{
                width: 550/$rc+rem;
                height: 550/$rc+rem;
                padding: 10/$rc+rem;
                margin-top: 10/$rc+rem;
                background: transparent;
            }
            &:nth-child(3){
                border: none;
            }
        }
//          提交
            .sub{
                width: 150/$rc+rem;
                background: #FF7171;
                color: #fff;
                line-height: 45/$rc+rem;
                border-radius: 6/$rc+rem;
                margin-left: 45%;
                font-size: 25/$rc+rem;
            }       
    }
}