@charset "UTF-8";
.footer{
    width: 100%;
    background: #eaeaea;
//  4个图标
    .footer-top{
        width: 100%;
        border-bottom: 1px solid #d4d4d4;
        padding: 20px 0;
        .footer-top-mian{
            width: 1200px;
            margin: 0 auto;
            li{
                width: 25%;
                float: left;
                font-size: 16px;
                font-weight: 700;
                color: #333;
                height: 42px;
                line-height: 42px;
                text-align: center;
                &:nth-child(1){
                    background: url(../images/footer.png)no-repeat 30px 0;
                }
                &:nth-child(2){
                    background: url(../images/footer.png)no-repeat 30px -42px;
                }   
                &:nth-child(3){
                    background: url(../images/footer.png)no-repeat 30px -85px;
                } 
                &:nth-child(4){
                    background: url(../images/footer.png)no-repeat 30px -128px;
                }                                                
            }
        }
    }
//  导航
    .footer-center{
        width: 1200px;
        margin: 0 auto;
        margin-top: 24px;
        position: relative;
        .footer-center-nav{
            width: 175px;
            float: left;
            text-align: left;
            margin-left: 10px;
            h5{
                color: 666666;
                font-size: 14px;
                line-height: 30px;
            }
            a{
                line-height: 28px;
                font-size: 12px;
                color: #666666;
                &:hover{
                    color: #ff5a59;
                }
            }
        }
//      地图
        .footer_map{
            width: 207px;
            height: 151px;
            background: url(../images/footer_bg.png)no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            top: 0;
            p{
                text-align: center;
                margin-top: 15px;
                font-size: 14px;
                font-weight: 600;
                color: #666;
            }
            div{
                font-size: 12px;
                padding: 19px;
                color: #666;
            }
        }
    }
//  版权
    .footer_fot{
        width: 1200px;
        margin: 0 auto;
        text-align: center;
        ul{
            width: 180px;
            margin: 0 auto;
        }
        li{
            float: left;
            padding: 5px;
            a{
                padding-left: 10px;
                color: #999;
                font-size: 14px;
                &:hover{
                    color: #ff5a59;
                }
            }
            &:last-child a{
                border-left: 1px solid #999;
            }
        }
        p{
            text-align: center;
            line-height: 20px;
            color: #999;
            font-size: 12px;
        }
    }
}
