@charset "UTF-8";
body {
  background: #F4F4F4; }

.main {
  width: 1200px;
  margin: 20px auto 113px; }
  .main .main-left {
    width: 180px;
    background: #fff;
    margin-right: 15px;
    box-shadow: 0 0 3px #ccc;
    height: 550px; }
    .main .main-left p {
      line-height: 70px;
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 1px;
      padding-left: 15px; }
    .main .main-left .main-left-nav {
      width: 100%;
      padding-left: 33px; }
      .main .main-left .main-left-nav li {
        width: 100%;
        text-align: left; }
        .main .main-left .main-left-nav li a {
          display: block;
          color: #888;
          font-size: 12px;
          padding: 10px 0; }
          .main .main-left .main-left-nav li a:hover {
            color: #ff5a59; }
        .main .main-left .main-left-nav li .on {
          color: #ff5a59; }
  .main .main-right {
    width: 1004px;
    background: #fff;
    box-shadow: 0 0 3px #ccc;
    padding-bottom: 100px; }
    .main .main-right > p {
      margin: 20px 0;
      margin-left: 5px;
      padding-left: 10px;
      border-left: 3px solid #ff5a59;
      font-weight: 600;
      font-size: 14px; }
    .main .main-right .main-right-top {
      width: 100%;
      padding-left: 54px;
      font-size: 12px;
      margin-bottom: 15px; }
      .main .main-right .main-right-top .name {
        display: inline-block;
        width: 80px;
        vertical-align: middle;
        color: #888;
        font-size: 12px;
        line-height: 20px;
        text-align: right;
        margin-right: 5px; }
      .main .main-right .main-right-top .name_mz {
        color: #888; }
      .main .main-right .main-right-top input {
        vertical-align: middle; }
      .main .main-right .main-right-top .input {
        width: 128px;
        border: 1px solid #e6e6e6;
        line-height: 18px;
        padding-left: 5px; }
      .main .main-right .main-right-top .xb {
        cursor: pointer;
        margin-right: 20px; }
      .main .main-right .main-right-top .site {
        width: 398px;
        border: 1px solid #e6e6e6;
        line-height: 18px;
        padding-left: 5px; }
      .main .main-right .main-right-top .sub {
        width: 64px;
        text-align: center;
        line-height: 24px;
        color: #fff;
        background: #ff5a59;
        margin-left: 90px;
        cursor: pointer;
        border: 1px solid #ff5a59; }
        .main .main-right .main-right-top .sub:hover {
          border: 1px solid #E3101E;
          background: #E3101E; }
    .main .main-right .main-right-integral {
      width: 100%;
      line-height: 30px; }
      .main .main-right .main-right-integral strong {
        font-size: 12px;
        color: #888;
        padding-left: 65px;
        margin-right: 5px; }
      .main .main-right .main-right-integral span {
        font-size: 14px;
        color: #ff5a59; }
    .main .main-right .tab {
      width: 872px;
      margin: 0 auto;
      border: 1px solid #e2e2e2; }
      .main .main-right .tab th {
        height: 39px;
        font-size: 12px;
        color: #666;
        background-color: #F5F5F5;
        border-bottom: 1px solid #e2e2e2; }
      .main .main-right .tab td {
        height: 34px;
        font-size: 12px;
        font-weight: 700;
        border-bottom: 1px solid #e2e2e2;
        text-align: center; }
    .main .main-right .get_coupon {
      width: 100%;
      font-size: 18px;
      padding: 150px 0;
      text-align: center;
      color: #888;
      display: none; }
      .main .main-right .get_coupon a {
        color: #ff5a59;
        font-weight: 700; }
    .main .main-right .advisory {
      width: 90%;
      margin: 0 auto;
      border: 1px solid #ddd; }
      .main .main-right .advisory .advisory-top {
        width: 100%;
        background: #e7e7e7;
        line-height: 33px;
        font-size: 12px; }
        .main .main-right .advisory .advisory-top span, .main .main-right .advisory .advisory-top strong {
          display: inline-block;
          vertical-align: middle; }
        .main .main-right .advisory .advisory-top span {
          width: 160px;
          text-align: center; }
        .main .main-right .advisory .advisory-top strong {
          width: 730px;
          text-align: center;
          font-weight: 100; }
      .main .main-right .advisory .advisory-center {
        width: 100%;
        margin-left: -1px;
        font-size: 12px;
        padding: 5px 0;
        border-bottom: 1px solid #f2f2f2; }
        .main .main-right .advisory .advisory-center .advisory-center-left {
          width: 160px;
          text-align: center;
          border-left: 1px solid #f2f2f2; }
          .main .main-right .advisory .advisory-center .advisory-center-left img {
            width: 68px;
            margin: 0 auto;
            display: block;
            height: 68px; }
        .main .main-right .advisory .advisory-center .advisory-center-right {
          width: 730px;
          border-left: 1px solid #f2f2f2;
          padding-left: 5px; }
          .main .main-right .advisory .advisory-center .advisory-center-right .advisory-center-right-reply {
            padding: 8px 0; }
            .main .main-right .advisory .advisory-center .advisory-center-right .advisory-center-right-reply span, .main .main-right .advisory .advisory-center .advisory-center-right .advisory-center-right-reply p, .main .main-right .advisory .advisory-center .advisory-center-right .advisory-center-right-reply i {
              display: inline-block;
              vertical-align: middle; }
            .main .main-right .advisory .advisory-center .advisory-center-right .advisory-center-right-reply i {
              font-style: normal;
              margin-left: 25px; }
      .main .main-right .advisory .advisory-footer {
        width: 100%;
        border-top: 1px solid #f2f2f2;
        text-align: right;
        line-height: 34px;
        background: #F3F3F3;
        font-size: 12px;
        background-image: -webkit-linear-gradient(bottom, #f3f3f3, #fdfdfd 100%); }
        .main .main-right .advisory .advisory-footer a {
          display: inline-block;
          vertical-align: middle;
          width: 56px;
          line-height: 18px;
          border: 1px solid #ddd;
          text-align: center;
          margin: 0 7px;
          cursor: pointer; }
          .main .main-right .advisory .advisory-footer a:hover {
            border-color: #ff5a59; }
        .main .main-right .advisory .advisory-footer span {
          color: #ff5a59; }
      .main .main-right .advisory .advisory-tab {
        width: 100%;
        font-size: 12px; }
        .main .main-right .advisory .advisory-tab thead > tr {
          background: #e7e7e7;
          height: 33px; }
        .main .main-right .advisory .advisory-tab td, .main .main-right .advisory .advisory-tab th {
          border: 1px solid #f2f2f2; }
        .main .main-right .advisory .advisory-tab tbody > tr > td {
          padding: 10px 0; }
        .main .main-right .advisory .advisory-tab td img {
          display: block;
          width: 52px;
          height: 52px;
          margin: 0 10px;
          float: left; }
        .main .main-right .advisory .advisory-tab td span {
          display: block;
          color: #666; }
        .main .main-right .advisory .advisory-tab td:nth-child(n+2) {
          text-align: center;
          width: 155px; }
        .main .main-right .advisory .advisory-tab td b {
          color: #005ea7;
          cursor: pointer; }
          .main .main-right .advisory .advisory-tab td b:hover {
            color: #ff5a59; }
      .main .main-right .advisory .indent-tab {
        width: 100%;
        font-size: 12px; }
        .main .main-right .advisory .indent-tab tbody > tr:nth-child(odd) {
          background: #f5f5f5; }
          .main .main-right .advisory .indent-tab tbody > tr:nth-child(odd) td {
            padding: 15px 0;
            padding-left: 5px; }
          .main .main-right .advisory .indent-tab tbody > tr:nth-child(odd) span {
            color: #005ea7;
            margin-right: 40px; }
        .main .main-right .advisory .indent-tab tbody > tr:nth-child(even) td {
          border: 1px solid #f2f2f2; }
          .main .main-right .advisory .indent-tab tbody > tr:nth-child(even) td:nth-child(n+2) {
            text-align: center; }
          .main .main-right .advisory .indent-tab tbody > tr:nth-child(even) td a {
            color: #005ea7; }
            .main .main-right .advisory .indent-tab tbody > tr:nth-child(even) td a:hover {
              color: #ff5a59; }
        .main .main-right .advisory .indent-tab thead > tr {
          background: #e7e7e7;
          height: 33px; }
        .main .main-right .advisory .indent-tab img {
          display: inline-block;
          vertical-align: middle;
          width: 52px;
          height: 52px;
          margin: 5px; }
    .main .main-right .site {
      width: 90%;
      margin: 0 auto; }
      .main .main-right .site h4 {
        width: 100%;
        padding: 0 15px;
        font-size: 12px;
        color: #666; }
        .main .main-right .site h4 .site_click {
          font-size: 14px;
          padding: 7px 20px;
          border: 1px solid #bfd6af;
          background: #f0f9ea;
          margin-right: 10px;
          cursor: pointer; }
          .main .main-right .site h4 .site_click:hover {
            background: #ff5a59;
            border-color: #e3101e;
            color: #fff; }
        .main .main-right .site h4 span {
          color: #71b247; }
      .main .main-right .site .site-mian {
        width: 100%;
        padding: 18px 15px;
        border: 1px solid #ddd;
        margin-top: 15px;
        position: relative; }
        .main .main-right .site .site-mian p {
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 2px; }
        .main .main-right .site .site-mian > div {
          font-size: 12px;
          line-height: 23px; }
          .main .main-right .site .site-mian > div label {
            display: inline-block;
            vertical-align: middle;
            width: 66px;
            color: #999;
            text-align: right;
            margin-right: 5px;
            letter-spacing: 1px; }
          .main .main-right .site .site-mian > div span {
            display: inline-block;
            vertical-align: middle;
            color: #666; }
        .main .main-right .site .site-mian .site-right {
          width: 300px;
          text-align: right;
          position: absolute;
          top: 30px;
          right: 10px; }
          .main .main-right .site .site-mian .site-right span {
            padding: 5px 10px;
            border: 1px solid #ddd;
            cursor: pointer; }
            .main .main-right .site .site-mian .site-right span:hover {
              border-color: #ff5a59; }
    .main .main-right .safety {
      width: 90%;
      margin: 0 auto; }
      .main .main-right .safety .safety-main {
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        padding: 11px 0; }
        .main .main-right .safety .safety-main span {
          display: inline-block;
          vertical-align: middle;
          width: 154px;
          font-weight: 700;
          color: #888;
          margin-left: 10px; }
          .main .main-right .safety .safety-main span img {
            display: inline-block;
            vertical-align: middle; }
        .main .main-right .safety .safety-main strong {
          display: inline-block;
          vertical-align: middle;
          width: 600px;
          color: #888;
          font-size: 12px; }
          .main .main-right .safety .safety-main strong b {
            color: #ff5a59; }
        .main .main-right .safety .safety-main a {
          padding: 6px 20px;
          background: #ff5a59;
          color: #fff;
          font-size: 12px; }
          .main .main-right .safety .safety-main a:hover {
            background: #E3101E; }

/*分页*/
.footer-paging {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 85px; }

.footer-paging .footer-paging-main {
  width: 1200px;
  margin: 0 auto; }

.footer-paging .footer-paging-main .footer-paging-main-nav {
  width: 100%;
  padding-left: 35%; }

.footer-paging .footer-paging-main .footer-paging-main-nav li {
  float: left;
  margin-right: 10px; }

.footer-paging .footer-paging-main .footer-paging-main-nav li a {
  display: block;
  width: 30px;
  height: 30px;
  color: #333;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 12px; }

.footer-paging .footer-paging-main .footer-paging-main-nav li a:hover {
  border: 1px solid #ff5a59; }

.footer-paging .footer-paging-main .footer-paging-main-nav li .link {
  background: #ff5a59;
  color: #fff; }

.footer-paging .footer-paging-main .footer-paging-main-nav li .yes {
  width: 60px;
  border-radius: 12px;
  background: #fff;
  color: #333;
  margin: 0 5px;
  border: 1px solid #ff5a59;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

.footer-paging .footer-paging-main .footer-paging-main-nav li .yes:hover {
  background: #ff5a59;
  color: #fff; }

.matte {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.6);
  z-index: 99;
  display: none; }
  .matte .matte-main {
    position: fixed;
    width: 730px;
    height: 550px;
    border: 1px solid #999;
    top: 50%;
    margin-top: -275px;
    left: 50%;
    margin-left: -365px;
    background: #fff;
    box-shadow: inset 0 0 2px #ddd; }
    .matte .matte-main p {
      font-size: 14px;
      text-align: center;
      color: #ff5a59;
      height: 50px;
      line-height: 50px; }
    .matte .matte-main > div {
      width: 96%;
      padding: 0 2%; }
      .matte .matte-main > div label {
        display: inline-block;
        vertical-align: middle;
        width: 90px;
        text-align: center;
        line-height: 40px;
        text-align: right;
        font-size: 13px;
        color: #888; }
        .matte .matte-main > div label:before {
          content: "*";
          display: inline-block;
          margin-right: 5px;
          color: red;
          vertical-align: middle; }
      .matte .matte-main > div input {
        width: 510px;
        padding-left: 10px;
        line-height: 40px;
        border: 1px solid #e0e0e0; }
      .matte .matte-main > div select {
        height: 30px;
        width: 80px;
        color: #555;
        border: 1px solid #e0e0e0; }
      .matte .matte-main > div .selsect1 {
        width: 130px; }
      .matte .matte-main > div .hint {
        height: 30px;
        padding-left: 90px; }
    .matte .matte-main .but {
      width: 110px;
      background: #ff5a59;
      border-radius: 3px;
      line-height: 37px;
      border: none;
      color: #fff;
      margin-right: 10px;
      cursor: pointer; }
      .matte .matte-main .but:hover {
        background: #E3101E; }
    .matte .matte-main .cancel {
      display: inline-block;
      vertical-align: middle;
      width: 110px;
      line-height: 37px;
      border-radius: 3px;
      border: 1px solid #888;
      background: #fcfcfc;
      color: #666; }
      .matte .matte-main .cancel:hover {
        background: #f3f3f3; }
    .matte .matte-main .del {
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer; }

/*# sourceMappingURL=personal.css.map */
