@charset "UTF-8";
$rem:20;
body{
    background-color: #f3f3f3;
    font-size: 12/$rem+rem;
}
//表格
.tab-main{
    width: 100%;
     overflow: auto;
    margin: 10/$rem+rem 0;
}
.tab{
    width: 100%;
    margin-top: 5/$rem+rem;
   
    thead>tr{
        background-color: #ccc;
    }
    tbody>tr{
        background-color: #fff;
        cursor: pointer;
        &:hover{
            background: #F4F4F4;
        }
    }
    th,td{
        white-space: nowrap;
        text-align: center;
        color: #464646;
        padding: 3/$rem+rem;
        border: 1px solid #ccc;
        font-size: 10/$rem+rem;
    }
}
//分页
.fenye{
    width: 100%;
    display: flex;
    a{
        display: block;
        width: 40%;
        font-size: 12/$rem+rem;
        text-align: center;
        &:nth-child(1){
            color: green;
        }
        &:last-child{
            color: red;
        }        
    }
    .select{
        display: block;
        width: 20%;
         font-size: 12/$rem+rem;
         option{
             text-align: center;
         }
    }
}
.subject{
    width: 100%;
    display: flex;
    flex-direction: column;
//  overflow-x: hidden;
//  头部
    .herder-top{
        width: 100%;
        height: 50/$rem+rem;
        background-color: #f7e1c8;
        display: flex;
        padding: 0 20/$rem+rem;
        position: relative;
        h1{
            width: 80%;
            a{
                display: inline-block;
                width: 60/$rem+rem;
                height: 40/$rem+rem;
                background: url(../images/汇查查.png)no-repeat;
                background-size: cover;
                color: #8e8660;
                text-shadow: 1px 1px 3px #F4F4F4;
                text-indent: -9999px;
                margin-top: 5/$rem+rem;
            }
        }
//      点击的小图标
        .herder-top-right{
            width: 20%;
            img{
                width: 32/$rem+rem;
                height: 32/$rem+rem;
                margin-top: 10/$rem+rem;
                margin-left: 20/$rem+rem;
            }
        }
//      隐藏的导航条
        .herder-top-nav{
            width: 30%;
            background: #decbb3;
            position: fixed;
            top: 50/$rem+rem;
            right: -30%;
            transition: all 0.5s; 
            z-index: 99;
//          visibility: hidden;
//          opacity: 0;
            ul{
                width: 100%;
                
                a{
                    display: block;
                    line-height: 30/$rem+rem;
                    font-size: 12/$rem+rem;
                    color: #fff;
                    text-align: center;
                    border-bottom: 1px solid #f4f4f4;
                    opacity: 0;
                    animation:donghua 0.2s linear 1s forwards ;
                }
                @keyframes donghua{
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
                &:after{
                    content: "";
                    display: block;
                    width: 100%;
                    position: fixed;
                    bottom: 55/$rem+rem;
                    top: 60/$rem+rem;
                    background: #decbb3;
                    z-index: -1;
                }
            }
        }
        .on{
            right: 0;
//          visibility:visible;
//          opacity: 1;
        }
    }
//  主体
    .section-mian{
        flex: 1;
        height: 100%;
        padding-bottom: 60/$rem+rem;
        .section-mian-center{
            width: 100%;
//          公告
            .section-mian-center-top{
                width: 100%;
                display: flex;
                padding: 0 10/$rem+rem;
                margin: 10/$rem+rem 0;
                .section-mian-center-top-left{
                    width: 50/$rem+rem;
                    font-size: 10/$rem+rem;
                    font-weight: 700;
                    background: #e51c23;
                    height: 20/$rem+rem;
                    color: #fff;
                    text-align: center;
                    margin-right: 3/$rem+rem;
                    line-height: 20/$rem+rem;
                    border-radius: 4px;
                }
                .section-mian-center-top-gg{
                    flex: 1;
                    height: 20/$rem+rem;
                    overflow: hidden;
                    .section-right-text-nav{
                        width: 100%;
                        a{
                            display: block;
                            font-size: 10/$rem+rem;
                            line-height: 20/$rem+rem;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: #464646;
                        }
                    }
                }
                .section-mian-center-top-right{
                    width: 40/$rem+rem;
                    font-size: 10/$rem+rem;
                    line-height: 20/$rem+rem;
                    text-align: center;
                    border-left: 2px solid #ccc;
                    color: #999;
                }
            }
//          公告end
//         个人中心开始
            .section-mian-center-nav{
                width: 100%;
                padding: 0 10/$rem+rem;
                border-top: 4px solid #F4F4F4;
                &>p{
                    font-size: 16/$rem+rem;
                    line-height: 30/$rem+rem;
                    padding-left: 10/$rem+rem;
                    border-left: 2px solid #7E4BE5;
                    margin: 8/$rem+rem 0;
                    letter-spacing: 0.6px;
                }
                .section-mian-center-nav-geren{
                    margin-bottom: 10/$rem+rem;
                    width: 100%;
                    li{
                        width: 46%;
                        text-align: center;
                        font-size: 12/$rem+rem;
                        color: #fff;
                        margin: 5/$rem+rem;
                        line-height: 60/$rem+rem;
                        border-radius: 3px;
                         box-shadow: inset -1/$rem+rem 0 8/$rem+rem -8/$rem+rem rgba(0, 0, 0, 0.2), inset 0 8/$rem+rem 8/$rem+rem -8/$rem+rem rgba(0, 0, 0, 0.2);
                        span{
                            font-size: 16/$rem+rem;
                            margin-left: 5/$rem+rem;
                        }
                        &:nth-child(1){
                            background-color: #9cd159;
                            
                        }
                        &:nth-child(2){
                            background-color: #65a6ff;
                        }   
                        &:nth-child(3){
                            background-color: #41e5c0;
                        } 
                        &:nth-child(4){
                            background-color: #A4ABFE;
                        } 
                        &:nth-child(5){
                            background-color: #15D897;
                        }  
                        &:nth-child(6){
                            background-color: #F63C86;
                        }                                                                                                                      
                    }
                }
//              真。个人中心
                .section-mian-center-nav-top{
                    width: 100%;
                    li{
                        width: 100%;
                        background-color: #fff;
                        line-height: 30/$rem+rem;
                        font-size: 0;
                        span{
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 10/$rem+rem;
                            width: 30%;
                        }
                        strong{
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 14/$rem+rem;
                            width: 60%;
                            text-align: left;
                        }
                    }
                }
//              推荐关系
            .section-mian-center-form{
                width: 100%;
                &>div{
                    width: 100%;
                    border-bottom: 2px solid #fff;
                    font-size: 0;
                    padding: 5/$rem+rem 0;
                    label{
                        display: inline-block;
                        width: 80/$rem+rem;
                        text-align: center;
                        font-size: 12/$rem+rem;
                        font-weight: 400;
                        background-color: #decbb3;
                        color: #fff;
                        line-height: 20/$rem+rem;
                        border-radius: 2/$rem+rem;
                    }
                    span{
                        font-size: 12/$rem+rem;
                        color: red;
                        margin-left: 10/$rem+rem;
                    }
                    input,select{
                        display: inline-block;
                        font-size: 12/$rem+rem;
                        line-height: 20/$rem+rem;
                        margin-left: 5/$rem+rem;
                        padding-left: 3/$rem+rem;
                        border-radius: 3/$rem+rem;
                        border: 1px solid #F3F3F3;
                    }
                    .sub{
                        width: 80/$rem+rem;
                        background-color: #5bc0de;
                        padding: 3/$rem+rem;
                        color: #fff;
                        margin-left: 15%;
                    }
                    &:last-child{
                        border:none
                    }
                }
            }
//          新闻
            .section-mian-center-news{
                width: 100%;      
                margin-bottom: 15/$rem+rem;         
                .section-mian-center-news-next{
                    width: 100%;
                    display: flex;
                    border-bottom: 2px solid #fff;
                    margin-top: 12/$rem+rem;
                     img{
                        display: block;
                        width: 22/$rem+rem;
                        height: 10/$rem+rem;
                        margin-top: 3/$rem+rem;
                    }
                    a{
                        flex: 1;
                        font-size: 12/$rem+rem;
                        color: #464646;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin-left: 5/$rem+rem;
                    }
                    i{
                        display: block;
                        width: 70/$rem+rem;
                        font-size: 9/$rem+rem;
                        color: #ccc;
                        text-align: center;
                        font-style: normal;
                    }
                }
            }
            }
        }
    }
//  底部
    .section-footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        top: auto;
        padding: 4/$rem+rem 0;
        box-shadow: inset -1/$rem+rem 0 8/$rem+rem -8/$rem+rem rgba(0, 0, 0, 0.2), inset 0 8/$rem+rem 8/$rem+rem -8/$rem+rem rgba(0, 0, 0, 0.2);
        .section-footer-nav{
            width: 100%;
            display: flex;
            li{
                flex: 1;
                a{
                    display: block;
                    text-align: center;
                    span{
                        display: block;
                        font-size: 12/$rem+rem;
                        color: #757575;
                    }
                    i{
                        display: block;
                        width: 100%;
                        height: 32/$rem+rem;
                        text-align: center;
                        img{
                            display: block;
                            width: 32/$rem+rem;
                            height: 32/$rem+rem;
                            margin: 0 auto;
                            -webkit-transform: scale(0.6);
                            transform: scale(0.6);
                        }
                    }
                }
            }
        }
    }
}
//弹框
.pop {
    width: 120/$rem+rem;
    line-height: 30/$rem+rem;
    color: #fff;
    font-size: 15/$rem+rem;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -60/$rem+rem;
    margin-top: -15/$rem+rem;
    display: none;
    -webkit-animation: wd 0.8s ease-in-out;
    animation: dk 0.8s ease-in-out;
}

@keyframes dk {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}